<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>CoVen</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Emilys+Candy&family=Metamorphous&display=swap" rel="stylesheet">
        <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="app">
            <header>
                <nav>
                    <div class="home">
                        <a href="/index.html" >
                            CoVen
                        </a>
                    </div>                  
                    <div hx-boost="true">
                        <a 
                        hx-push-url="true"
                        hx-get="/pages/talents.html"
                        hx-target="#content"
                        hx-swap="innerHTML">
                            Talent
                        </a>
                    </div>                    
                    <div hx-boost="true">
                        <a 
                        hx-push-url="true"
                        hx-get="/pages/staff.html"
                        hx-target="#content"
                        hx-swap="innerHTML">
                            Staff
                        </a>
                    </div>                    
                    <div class="social">
                        <a href="https://www.twitch.tv/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#ebebeb" d="M2.149 0l-1.612 4.119v16.836h5.731v3.045h3.224l3.045-3.045h4.657l6.269-6.269v-14.686h-21.314zm19.164 13.612l-3.582 3.582h-5.731l-3.045 3.045v-3.045h-4.836v-15.045h17.194v11.463zm-3.582-7.343v6.262h-2.149v-6.262h2.149zm-5.731 0v6.262h-2.149v-6.262h2.149z" fill-rule="evenodd" clip-rule="evenodd"/>
                            </svg>
                        </a>      
                        <a href="https://x.com/home" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                <path fill="#ebebeb" d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm6.066 9.645c.183 4.04-2.83 8.544-8.164 8.544-1.622 0-3.131-.476-4.402-1.291 1.524.18 3.045-.244 4.252-1.189-1.256-.023-2.317-.854-2.684-1.995.451.086.895.061 1.298-.049-1.381-.278-2.335-1.522-2.304-2.853.388.215.83.344 1.301.359-1.279-.855-1.641-2.544-.889-3.835 1.416 1.738 3.533 2.881 5.92 3.001-.419-1.796.944-3.527 2.799-3.527.825 0 1.572.349 2.096.907.654-.128 1.27-.368 1.824-.697-.215.671-.67 1.233-1.263 1.589.581-.07 1.135-.224 1.649-.453-.384.578-.87 1.084-1.433 1.489z"/>
                            </svg>
                        </a>
                    </div>
                </nav>
            </header>
            <main id="content">
                <div class="homeContent">
                    <h1>Introduction</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt vulputate tempor. 
                        Etiam venenatis auctor semper. Vestibulum porta ultrices libero, ut interdum massa maximus et. 
                        Praesent ut nibh auctor, commodo risus quis, rutrum orci. Morbi pulvinar, nisl id sollicitudin vestibulum, ante lacus luctus nisl, a bibendum lacus ex ut risus.
                    </p>
                    <p>
                        Donec molestie turpis vel cursus maximus. Donec maximus sapien nec sodales tincidunt. Mauris nec posuere sapien. Maecenas iaculis magna sit amet molestie ornare. 
                        Nunc maximus, nunc eu placerat rhoncus, nibh felis dictum ex, non faucibus dui odio in augue. Maecenas tempus hendrerit neque, sit amet ultricies tellus viverra sed.
                        Sed vulputate sapien sit amet est placerat feugiat. Vestibulum malesuada gravida tortor ut lobortis. Sed non sem commodo, interdum nisl ac, rutrum velit. 
                        In hac habitasse platea dictumst.
                    </p> 
                    <p>
                        Sed eget lacus pretium, aliquam dolor et, cursus eros. Fusce et lorem purus. Praesent vitae viverra magna, at facilisis sem.
                        Donec auctor faucibus cursus. Fusce pulvinar est vel mi convallis ullamcorper. Aliquam tincidunt nec nisl a sodales. Curabitur varius massa sodales aliquet congue.
                        Maecenas condimentum lorem ut sem faucibus efficitur. Pellentesque malesuada ex nec vulputate viverra. Sed vel enim rutrum, interdum ex at, iaculis metus.
                        Nullam non nunc quis lorem varius euismod. Cras vitae risus nec nisi sodales imperdiet. 
                        Nunc pulvinar sem arcu, nec euismod eros sollicitudin ut. 
                    </p>
                </div>
            </main>
        </div>
    </body>
</html>