body {
  background-color: #1f1f1f;
  color: #ebebeb;
  margin: none;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #1f1f1f;
}

nav {
  height: 70px;
  margin-left: 20%;
  font-family: "Metamorphous", serif;
	display: flex;
  align-items: flex-start;
}

nav div {
  display: flex;
  align-items: center;
  height: 70%;
}

nav a { 
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  color: #ebebeb;
	text-decoration: none;
  min-width: 100px;
  cursor: pointer;
}

nav a:hover {
	background-color: #9288f8
}

nav .home {
  font-size: 40px;
  font-family: "Emilys Candy", serif;
  font-style: normal;
  margin-right: 40px;
  margin-top: 5px;
}

nav .home a:hover {
  background-color: #1f1f1f;
}

nav .social {
  margin-left: auto;
  margin-right: 2%;
}

nav .social a {
  min-width: 0px;
  margin: 0 5px;
  width: 24px;
  height: 24px;
}

.homeContent {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talentContent {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.talentContent h1 {
  margin-bottom: 0;
}

.talentContainer {
  display: flex;
  margin-bottom: 20%;
}

.talentInfo {
  display: inline-block;
  width: 66%;
}

.talentPng {
  display: inline-block;
  width: 33%;
}

.talentPng img {
  max-width: 100%;
}

h1 {
  font-family: "Metamorphous", serif;
}

p {
  font-family: "Metamorphous", serif;
}